<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h1>About Us</h1>
            <p>Readasfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffljjjjjjjjjjjjjjjkjffkdjfkdsfkjflkjfkjfjowfjmohann
                mohan 
                mohank
                mohan
                mohan
                mohan krishna
                mohankrishna
                ctjs
                mohan krishna
                mohan krishna
                mohankrishna
                mohan krishnamohan krishnamohan krishna
            </p>
            <p>Java</p>
            <p>SQL</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>